@charset "UTF-8";

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, dl, dt, dd, 
ol, ul, li, form, table, caption, tr, th, td, article, aside, footer, header{           
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
main {
  position: relative;
  left: 5%;
  right: 5%;
  clear: both;
  width: 650px;
}
.userBar {
	overflow: hidden;
	background-color: WhiteSmoke;
	font-family: Arial;
	border-bottom-style: solid;
    border-bottom-color: DarkGrey;
    border-bottom-width: 1px;
}
.userImage {
	float: left;
}
.userBar a, .userName {
	float: left;
  	font-size: 14px;
  	color: Silver;
  	text-align: center;
 	padding: 14px 16px;
 	text-decoration: none;
}
.userBar input {
	border: none;
	font-size: 14px;
	background-color:  WhiteSmoke;
	color: Silver;
	text-align: center;
	display: inline-block;
	width:50px;
	height:44px;
}
.newAd {
  float: left;
  overflow: hidden;
}
.newAd .newAdBtn {
  font-size: 14px; 
  border: none;
  outline: none;
  color: Silver;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
.userBar a:hover, .userBar input:hover, .navBarRef a:hover, .newAd:hover, .newAdBtn:hover,
.adsTable a:hover {
  color: red;
}
.newAd-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.newAd-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.newAd:hover .newAd-content {
  display: block;
}
.navBar{
  	text-align: left;
  	margin-top: 11.5px;
}
.navBar img {
	float: left;
	margin-bottom: 20px;
  	margin-right: 10px;
}
.navBar span {
	font-family: Arial;
	float: left;
	margin-top: 3px;
	font-size: 25px;
	font-weight: bold;
}
.adsTable a, .price{
	font-family: Arial;
	font-weight: bold;
	font-size: 12px;
}
.date{
	font-family: Arial;
	font-size: 12px;
}
.page {
	font-family: Arial;
	font-weight: bold;
	font-size: 15px;
}
.navBarRef a, .adsTable a{
	font-family: Arial;
	font-size: 14px; 
  	color: DeepSkyBlue;
  	text-decoration: none;
}
.adsTable {
	display: grid;
	grid-template-columns: 50em;
	clear: both;
}
.addItem {
	margin-top: 20px;
}
.addItem img {
	float:left;
	border-style: solid;
    border-color: DarkGrey;
    border-width: 1px;
    margin-right: 10px;
}
.addItem a span {
	text-align: top;
}
.search {
	clear: both;
}
.search li {
	float:left;
	display: block;
	border-style: solid;
    border-color: DarkGrey;
    border-width: 2px;
    padding: 7px;
}
.search input, .search select {
	border: none;
	background-color: white;
}
.page {
	margin-top: 20px;
}
#description {
	height: 55px;
	overflow: hidden;
}