@charset "UTF-8";

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, dl, dt, dd, 
ol, ul, li, form, table, caption, tr, th, td, article, aside, footer, header{           
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
.userBar {
	overflow: hidden;
	background-color: WhiteSmoke;
	border-bottom-style: solid;
    border-bottom-color: DarkGrey;
    border-bottom-width: 1px;
}
.userBar a{
	font-family: Arial;
	float: left;
  	font-size: 14px;
  	color: Silver;
  	text-align: center;
 	padding: 14px 16px;
 	text-decoration: none;
}
.userBar a:hover{
  color: red;
}
main {
  margin: auto;
  margin-top: 20px;
  width: 500px;
  border-style: solid;
  border-color: DarkGrey;
  border-width: 1px;
  overflow: hidden;
  font-family: Arial;
  padding: 10px;
}
.mainTitle {
	margin:auto;
	text-align: center;
}
.main img {
	margin-right: 10px;
}
.main h1 {
	font-size: 28px;
	padding-top:1px;
}
.main p {
	margin-top: 10px;
	margin-bottom: 10px;
}
.main form, .main p {
	text-align: right;
	position: relative;
	right: 25%;
}

#validationInfo {
	color: red;
	margin-bottom: 11px;
	font-size: 14px;
	min-width: 250px;
}
.validationError {
	color: red;
	font-size: 10px;
}
