<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<body>
		<h1>Create car ad</h1>
		<form action="#"
			th:action="@{/truck_and_special_machinery_ad/{id}/update(id=${ad.id})}"
			th:object="${ad}"
			th:method="POST"
			enctype="multipart/form-data">
			
			<label for="name">Имя: </label>
			<input type="text" th:field="*{name}" /> </br>
			
			<label for="description">Описание: </label>
			<input type="text" th:field="*{description}" /> </br>
			
			<label for="price">Цена: </label>
			<input type="number" th:field="*{price}" /> </br>
			
			<label for="city">Город: </label>
			<input type="text" th:field="*{city}" /> </br>
			
			<label for="adress">Адрес: </label>
			<input type="text" th:field="*{adress}" /> </br>
			
			<label for="photo">Фото: </label>
			<input type="file" multiple th:name="photoFiles"  accept="image/png"/> </br>	
			
			
			<label for="model">Модель: </label>
			<input type="text" th:field="*{transportAd.model}" /> </br>
			
			<label for="brand">Бренд: </label>
			<input type="text" th:field="*{transportAd.brand}" /> </br>
			
			<label for="color">Цвет: </label>
			<input type="text" th:field="*{transportAd.color}" /> </br>
			
			<label for="manufactureYear">Год выпуска: </label>
			<input type="text" th:field="*{transportAd.manufactureYear}" /> </br>
			
			<label for="mileage">Пробег: </label>
			<input type="number" th:field="*{transportAd.mileage}" /> </br>
			
			<label for="operatingTime">Коробка передач: </label>
			<input type="number" th:field="*{transportAd.truckSpecMachAd.operatingTime}" /> </br>
			
			
			<input type="submit" value="Обновить"/>
		</form>
	</body>
</html>