<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>My avito</title>
	</head>
	<body>
		<h1>Choose ad type</h1>
			<form th:method="GET" th:action="@{/home}" th:object="${search}">
				<select name="category" th:field="*{adCategory}">
					<option type="radio" th:value="${T(avito.domain.Ad$AdCategory).TRANSPORT}">ТРАНСПОРТ</option>
					<option type="radio" th:value="${T(avito.domain.Ad$AdCategory).TRANSPORT}" th:field="*{adCategory}">llll</option>
<!-- 					<option>Выберите категорию</option> -->
<!-- 					<option type="checkbox" th:value="${T(avito.domain.Ad$AdCategory).TRANSPORT}" th:field="*{adCategory}">ТРАНСПОРТ</option> -->
<!-- 					<option>Автомобили</option> -->
<!-- 					<option value="motorcycle">Мотоциклы</option> -->
<!-- 					<option value="truck_and_special_machinery">Грузовики и спецтехника</option> -->
<!-- 					<option>НЕДВИЖИМОСТЬ</option> -->
<!-- 					<option value="apartments">Квартиры</option> -->
<!-- 					<option value="house">Дома</option> -->
<!-- 					<option value="garage">Гаражи</option> -->
<!-- 					<option disabled>РАБОТА</option> -->
<!-- 					<option value="cv">Резюме</option> -->
<!-- 					<option value="vacancy">Вакансии</option> -->
				</select>
				
				<input type="text" th:field="*{name}" placeholder="Название" />
				<input type="text" th:field="*{city}" placeholder="Город" />
				<input type="submit" value="Выбрать" />
			</form>
		<div th:each="ad : ${ads}">
			<img th:src="'data:image/png;base64,'+${imgUtil.getImgData(ad.getPhotos.get(0).getPhoto())}" 
				width=50px height=50px/> </br>
			<span th:text="${ad.name}" /> </br>
			<span th:text="${ad.description}" /> </br>
			<span th:text="${ad.price}" /> </br>
			<span th:text="${#temporals.format(ad.createdAt,'dd-MM-yyyy HH:mm')}" /> </br>
			</br>
		</div>
	</body>
</html>