<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>My avito</title>
	</head>
	<body>
		<h1>Регистрация</h1>
		<form method="POST" th:action="@{/register}" id="registerForm" enctype="multipart/form-data">
			<label for="username">Логин: </label>
			<input type="text" name="username" /> </br>
			
			<label for="password">Пароль: </label>
			<input type="password" name="password" /> </br>
			
			<label for="confirm">Подтвердить пароль: </label>
			<input type="password" name="confirm" /> </br>
			
			<label for="fullname">Полное имя: </label>
			<input type="text" name="fullname" /> </br>
			
			<label for="street">Улица: </label>
			<input type="text" name="street" /> </br>
			
			<label for="city">Город: </label>
			<input type="text" name="city" /> </br>
			
			<label for="zip">Индекс: </label>
			<input type="text" name="zip" /> </br>
			
			<label for="phone">Телефон: </label>
			<input type="text" name="phone" /> </br>
			
			<label for="photo">Фото: </label>
			<input type="file" th:name="photoFile"  accept="image/png"/> </br>
			
			<input type="submit" value="Register"/>
		</form>
	</body>
</html>