<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>New apartments ad</title>
		<link rel="stylesheet" th:href="@{/new_update.css}" />
	</head>
	<body>
		<nav>
			<div th:if="${currUser != null}" class="userBar">
				<img th:if="${currUser.getPhoto != null}"
					 th:src="'data:image/png;base64,'+${imgUtil.getImgData(currUser.getPhoto.getPhoto())}" 
					 width=60px height=45px
					 class="userImage" />
				<img th:if="${currUser.getPhoto == null}"
					 th:src="@{/images/no_image.png}"
					 width=60px height=45px
					 class="userImage" />
					 
				<span class="userName" th:text="${currUser.fullname}" /> 
				 
				<a th:href="@{/profile}">Мои объявления</a>
				
				<div class="newAd">
					<button class="newAdBtn">Разместить объявление</button>
					
					<div class="newAd-content">
						<a th:href="@{/animal_ad/new}">Животные</a>
						<a th:href="@{/apartments_ad/new}">Квартиры</a>
						<a th:href="@{/car_ad/new}">Машины</a>
						<a th:href="@{/garage_ad/new}">Гаражи</a>
						<a th:href="@{/house_ad/new}">Дома</a>
						<a th:href="@{/motorcycle_ad/new}">Мотоциклы</a>
						<a th:href="@{/service_ad/new}">Сервисы</a>
						<a th:href="@{/truck_and_special_machinery_ad/new}">Грузовики и спецтехника</a>
					</div>
				</div>
				
				<form method="POST" th:action="@{/logout}">
					<input type="submit" value="Выйти"/>
				</form>
			</div>
		</nav>
		<main>
			<div class="header">
				<img th:src="@{/images/avito_logo.png}"
					 	 width=110px height=30px />
				<span>Новое объявление</span>
			</div>
			<form th:method="POST" th:action="@{/apartments_ad/new}" th:object="${adObject}" id="adForm" enctype="multipart/form-data">
				<label for="name">Имя: </label>
				<input type="text" th:field="*{name}" /> </br>
				
				<label for="description">Описание: </label>
				<input type="text" th:field="*{description}" /> </br>
				
				<label for="price">Цена: </label>
				<input type="number" th:field="*{price}" /> </br>
				
				<label for="city">Город: </label>
				<input type="text" th:field="*{city}" /> </br>
				
				<label for="adress">Адрес: </label>
				<input type="text" th:field="*{adress}" /> </br>
				
				<label for="photo">Фото: </label>
				<input type="file" multiple th:name="photoFiles"  accept="image/png"/> </br>
				
				
				<label for="floorArea">Площадь: </label>
				<input type="number" th:field="${realEstateObject.floorArea}" /> </br>
				
				<label for="roomsNumber">Площадь: </label>
				<input type="number" th:field="${apartmentsObject.roomsNumber}" /> </br>
				<label for="floorLevel">Этаж: </label>
				<input type="number" th:field="${apartmentsObject.floorLevel}" /> </br>
				
				<input type="submit" value="Создать"/>
			</form>
		</main>
	</body>
</html>