<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<body>
		<h1>Create car ad</h1>
		<form th:method="POST" th:action="@{/new/car_ad}" th:object="${adObject}" id="adForm" enctype="multipart/form-data">
			<label for="name">Имя: </label>
			<input type="text" th:field="*{name}" /> </br>
			
			<label for="description">Описание: </label>
			<input type="text" th:field="*{description}" /> </br>
			
			<label for="price">Цена: </label>
			<input type="number" th:field="*{price}" /> </br>
			
			<label for="city">Город: </label>
			<input type="text" th:field="*{city}" /> </br>
			
			<label for="adress">Адрес: </label>
			<input type="text" th:field="*{adress}" /> </br>
			
			<label for="photo">Фото: </label>
			<input type="file" multiple th:name="photoFiles"  accept="image/png"/> </br>	
			
			
			<label for="model">Модель: </label>
			<input type="text" th:field="${transportObject.model}" /> </br>
			
			<label for="brand">Бренд: </label>
			<input type="text" th:field="${transportObject.brand}" /> </br>
			
			<label for="color">Цвет: </label>
			<input type="text" th:field="${transportObject.color}" /> </br>
			
			<label for="manufactureYear">Год выпуска: </label>
			<input type="text" th:field="${transportObject.manufactureYear}" /> </br>
			
			<label for="mileage">Пробег: </label>
			<input type="number" th:field="${transportObject.mileage}" /> </br>
			
			
			<label for="transmission">Коробка передачь: </label>
			<input type="text" th:field="${carObject.transmission}" /> </br>
			
			<label for="driveType">Привод: </label>
			<input type="text" th:field="${carObject.driveType}" /> </br>
			
			<label for="enginesType">Тип двигателя: </label>
			<input type="text" th:field="${carObject.enginesType}" /> </br>
			
			<input type="submit" value="Создать"/>
		</form>
	</body>
</html>